.mf-settings-nav-item {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.15s ease;
    user-select: none;
}

.mf-settings-nav-item:hover {
    background-color: var(--mud-palette-action-default-hover);
}

.mf-settings-nav-item.active {
    background-color: var(--mud-palette-primary);
    color: var(--mud-palette-primary-text);
}

.mf-settings-nav-item.active:hover {
    background-color: var(--mud-palette-primary-darken);
}
