@inherits Mythetech.Framework.Infrastructure.MessageBus.ComponentConsumer<TestCommand, TestCommand2>

<p>Text: @ReceivedText, Value: @ReceivedValue</p>

@code {
    public string? ReceivedText { get; private set; }
    public int? ReceivedValue { get; private set; }

    protected override Task Consume(TestCommand message, CancellationToken cancellationToken)
    {
        ReceivedText = message.Text;
        StateHasChanged();
        return Task.CompletedTask;
    }

    protected override Task Consume(TestCommand2 message, CancellationToken cancellationToken)
    {
        ReceivedValue = message.Value;
        StateHasChanged();
        return Task.CompletedTask;
    }
}
