.mf-virtualize-container {
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    height: 100%;
    overflow: auto;
}

.mf-virtualize-container--horizontal {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}
