.mf-virtualize-grid {
    display: block;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.mf-virtualize-grid__spacer {
    /* Container for absolute positioned cells */
}

.mf-virtualize-grid__cell {
    box-sizing: border-box;
    overflow: hidden;
}
